{% extends "YapSpeedrunBundle::layout.html.twig" %}

{% block title %}
	{{ parent() }} - Homepage
{% endblock %}

{% block yapspeedrun_body %}
	<div class="row">
		<h2>Homepage, great!</h2>
	</div>
{% endblock %}