{% extends "YapSpeedrunBundle::layout.html.twig" %}

{% block title %}
	{{ user.username }} - {{ parent() }}
{% endblock %}

{% block yapspeedrun_body %}
	<div class="row">
		<div class="large-12">
			Profile of: {{ user.username }}
		</div>
	</div>
{% endblock %}

{% block javascripts %}

{{ parent() }}

{% endblock %}